.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#title{
  font-family: 'Orbitron', sans-serif;
}
#space{
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
};

#trivia{
  font-family: 'Bree', sans-serif;
  text-align: left;
}

#q{
  margin-left: 50px;
  margin-right: 10px;
};
